
$primary-color: #000a7a ;


/* big tablet to 1200px */
@media only screen and (max-width: 1200px) {

  header {
    padding: 1em 0em;
  }


}


/* small tablet to big tablet */
@media only screen and (max-width: 990px) {

  header {
    padding: .5em;
      nav {
        position: relative;
        overflow: initial;

        .main-menu {
          float: none;
          margin: auto;
          overflow: auto;

          li {
            margin-right: 0;
            width: 20%;
          }

        }

        #logo {
          float: none;
          margin: auto;
          position: relative;
          display: block;
        }

      }
  }

  #education,
  #work-experience,
  #personal-skills,
  #contact-us,
  #project-list{
    padding: 0 1em 3em;
    font-family: 'Noto Sans', sans-serif;
  }

}



/* phone to small tablet*/
@media only screen and (max-width: 768px) {

  html {
    font-size: .9em;
  }

  header {
    overflow: auto;

      nav {
        position: fixed;
        width: 100%;
        right: 0;
        background-color: #f1f1f1;
        height: 4em;
        top: 0;

        .show-background-mainNav-mobile {
          display: block;
          opacity: 1;
          z-index: 4;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
        }



        .main-menu {
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
          margin-top: 2.6em;
          right: 0;
          background-color: #f1f1f1;
          color: #000a7a;
          height: 100%;
          padding: 2em 0;
          -webkit-transform: translateX(101%);
          -ms-transform: translateX(101%);
          transform: translateX(101%);
          width: 75%;
          position: inherit;
          z-index: 5;

          li {
            float: none;
            border-bottom: 1px solid #429fff;
            padding: 1.22em 0em;
            display: block;
            width: 100%;
          }

        }

        .mobile-nav-icon {
          background-color: transparent;
          position: fixed;
          width: 50px;
          top: 1em;
          cursor: pointer;
          border: 0;
          right: 0;
          display: block;
          float: right;

        }

        #logo {
          float: left;
        }

      }

      button {
        display: block;
      }

      #logo {
        float: left;
      }

      #logo:hover header nav {
        right: 0px;
        font-size: 10em;
      }

      #go-to-top {
        display: none;
      }

    .header-content {

      img {
        width: 40%;
      }

    }

  }


  #project-list {
    
    padding: 0;

    .projects {

      display: flex;
      flex-direction: column;
      justify-content: space-between;

    .project-item {
      width: 100%;
      margin: 0 0.5em 5em;
      cursor: pointer;

      .project-details {
        p {
          padding: 0 15px;
        }
      }

    }
  }

  }
}


/* small phone to 480px */
@media only screen and (max-width: 480px) {


  #project-list {
    .projects {
      .project-item {
        .project-details {
          p {
            padding: 0 15px;
          }
        }
      }
    }
  }

  #contact-us {
    font-size: 80%;

    .contact-us-details {
      text-transform: capitalize;
      text-align: center;
      width: 100%;
      margin: auto;

      div {
        display: grid;
        grid-template-columns: 25% 30%;

        i {
          justify-self: center;
          line-height: 1.3;
        }

      }

    }
  }

}