@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
.heading, #education h2, #work-experience h2, #personal-skills h2, #project-list h2 {
  padding: 1em 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 250%;
  text-transform: uppercase;
  text-align: center;
}

.heading:after, #education h2:after, #work-experience h2:after, #personal-skills h2:after, #project-list h2:after {
  display: block;
  content: ' ';
  width: 3em;
  height: .2em;
  background-color: #000a7a;
  margin: .5em auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

html {
  height: 100%;
  font-size: 1em;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

a,
a:active,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

li {
  list-style-type: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 1em .5em;
  background-image: url(../images/fs_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
}

header nav {
  overflow: auto;
  z-index: 999;
}

header nav .background-mainNav-mobile {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  top: 4em;
  z-index: -999;
}

header nav .main-menu {
  float: right;
  position: relative;
  top: 1em;
  font-size: 110%;
}

header nav .main-menu li {
  float: left;
  margin-right: 2em;
  color: #000a7a;
  text-transform: capitalize;
}

header nav .main-menu.show-nav {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

header nav .mobile-nav-icon {
  background-color: transparent;
  position: fixed;
  width: 50px;
  top: 1em;
  border: 0;
  right: 0;
  display: none;
}

header nav #logo {
  background-image: url("../images/ucLogo.png");
  width: 200px;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}

header nav #go-to-top {
  position: fixed;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  top: 3em;
  right: 1.5em;
  display: none;
}

@-webkit-keyframes MoveUpDown {
  0% {
    top: 3em;
  }
  25% {
    top: 2.75em;
  }
  50% {
    top: 3em;
  }
  75% {
    top: 3.25em;
  }
  100% {
    top: 3em;
  }
}

@keyframes MoveUpDown {
  0% {
    top: 3em;
  }
  25% {
    top: 2.75em;
  }
  50% {
    top: 3em;
  }
  75% {
    top: 3.25em;
  }
  100% {
    top: 3em;
  }
}

header nav #go-to-top:hover {
  -webkit-animation: MoveUpDown 1s linear infinite;
  animation: MoveUpDown 1s linear infinite;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 150%;
  margin: 90px 0 30px;
}

.header-content img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 16%;
  height: auto;
  border-radius: 155px;
  margin-bottom: 1em;
}

.header-contact {
  font-size: 130%;
  font-weight: bold;
}

.header-contact .social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 170%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-contact .social-media-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-contact .social-media-list ul li {
  font-size: 120%;
  margin: 0 20px;
}

.header-contact .social-media-list ul li:hover {
  color: #000a7a;
}

#education {
  padding: 0 1em 3em;
  font-family: 'Noto Sans', sans-serif;
}

#education .education-list li {
  font-size: 120%;
  margin: 1em 0;
  text-align: left;
  color: #353535;
}

#education .education-list li span {
  font-weight: bold;
}

#work-experience {
  background-color: #f1f1f1;
  padding: 0 4em 3em;
  font-family: 'Noto Sans', sans-serif;
}

#work-experience .work-experience-list .work-experience-item h3 {
  text-align: left;
  margin-top: 1.5em;
  color: #353535;
  text-transform: capitalize;
  font-size: 135%;
  font-weight: 700;
}

#work-experience .work-experience-list .work-experience-item ul li {
  margin: 1em 0;
  font-size: 120%;
  text-align: left;
  color: #353535;
}

#personal-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 4em 3em;
  font-family: 'Noto Sans', sans-serif;
}

#personal-skills .skill-item {
  padding: 0em 3.5em;
}

#personal-skills .skill-item img {
  height: auto;
}

#personal-skills .skill-item ul li {
  font-size: 120%;
  margin-bottom: 20px;
}

#personal-skills .skill-item h3 {
  margin: 1em 0em;
  font-size: 130%;
  text-transform: capitalize;
  font-weight: 700;
}

#project-list {
  background-color: #f1f1f1;
  padding: 0 4em 3em;
  font-family: 'Noto Sans', sans-serif;
  overflow: auto;
}

#project-list .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#project-list .projects .project-item {
  position: relative;
  display: inline-block;
  margin: 0 0.5em 5em;
  width: calc(80%/3);
  cursor: pointer;
}

#project-list .projects .project-item img {
  width: 100%;
  height: auto;
}

#project-list .projects .project-item .project-details {
  margin: 25px 0;
  width: 100%;
  font-size: 100%;
}

#project-list .projects .project-item .project-details h4 {
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */